# Build files
build/
*.o
*.out
*.exe

# Output Files
*.csv
benchmark_plots/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python cache (for your python folder)
.venv/
__pycache__/
python/__pycache__/
*.pyc